.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 0px; /* comment this one or set min-height: 0px; */
    padding-right: 15px;
    padding-left: 15px;
}

.overflow-hidden{
    overflow-x: hidden;
}

/* Underline Effect */
.nav-item {
    position: relative;
}

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transistion: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: #dd4343;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #dd4343;
}

/* keine Rahmenlinie um Dropdown-Menü */
.dropdown-menu {
    border: 0px;
}

/* Padding auf der linken Seite im Footer wird auf Mobilgeräten entfernt */
@media (max-width: 767px) {
    .footer {
        padding-left: 0;
    }
}

/* Design Links */
a:link {
    text-decoration: none;
    color: crimson;
}

a:visited {
    text-decoration: none;
    color: crimson;
}

a:hover {
    text-decoration: dotted;
    color:#212529;
}

a:active {
    text-decoration: dotted;
    color:#212529;
}

/* Design Callout */
.bd-callout {
    padding:1.25rem;
    margin-top:1.25rem;
    margin-bottom:1.25rem;
    border:1px solid #e9ecef;
    border-left-width:0.25rem;
    border-radius:0.25rem;
}
/*Callout Info */
.bd-callout-info {
    border-left-color:#0dcaf0;
}

/* margin unter figure weg */
.my-card-figure {
    margin-block-end:0px;
}

/* figcaption Padding links dazu */
/* figcaption {
    padding-left: 4px;
} */